{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset Password Done {% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row my-3">
        <!--        <h3>Reset Password for{{user.username}}</h3>-->
        <div class="col-sm-6 offset-sm-3">
            <h4 class="alert-heading">Well Done!</h4>
            <h3 class="">Password Reset Done</h3>
            <p> An Email has been Sent With Instruction to Reset your  password.    <b> Check your Email</b></p>
        </div>
    </div>
</div>
{% endblock main-content %}
